{%extends 'base1.html'%}
{%load static%}
{%block title%}
GENERAL BEARINGS~WELCOME
{%endblock%}
{%block content%}
<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" ></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill"><img class="fill" src="{%static 'base/img/1.jpg' %}" ></div>
            <div class="carousel-caption">
                <h2>Welcome to the home of bearings</h2>
                <button type="" class="btn btn-success"><a href=""> ABOUT US</a> </button>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill"><img class="fill" src="{%static 'base/img/7.jpg' %}" > </div>
            <div class="carousel-caption">
                <h2>Your one stop bearing provider</h2>
                <button type="" class="btn btn-success"><a href=""> WAREHOUSE</a> </button>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill"><img class="fill" src="{%static 'base/img/5.jpg' %}"></div>
            <div class="carousel-caption">
                <h2>If we dont have it, we will get it</h2>
                <button type="" class="btn btn-success"><a href=""> CONTACT US</a> </button>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>
 {%endblock%}